{% extends "base.html.twig" %}

{% block body %}
<div class="container">
        <div class="row justify-content-center">
                <h1>WELCOME HOME</h1>
        </div>
        <div class="row justify-content-center">
                <img src="https://res.cloudinary.com/dnpr9xeop/image/upload/v1544218413/home.png" alt="home">
        </div>
</div>
{% endblock %}
